.body{

  background-color: rgb(11, 68, 118);
  font-weight: normal;
   
}

.header {
  padding: 0px;
  text-align: center;
  background: #28594f;
  color: rgb(147, 39, 39);
  font-size: 5px;
  background: #655dbf; /* Цвет фона */
  border: 1px solid rgb(12, 107, 148); /* Параметры рамки */
  padding: 0px; /* Поля вокруг текста */
  margin-bottom: 10px; /* Отступ снизу */
  border-radius: 10px;
  width: 90%; /* Ширина */
  -moz-box-sizing: border-box; /* Для Firefox */
  -webkit-box-sizing: border-box; /* Для Safari и Chrome */
  box-sizing: border-box; /* Для IE и Opera */
  /*display: block; margin: 0 auto /* По центру */
  display: flex;
  position: flex;
}

  .label {
    margin: 0px 2px;
    text-align: center;
    background-color: rgb(210, 16, 16);
    color: white;
    font-size: 24px;
    position: flex;
    border-radius: 50px 0px 0px 50px;
  }

.select:hover{
  opacity: 0.9;
  color: #655dbf;
}

@media (max-width: 700px){
  .board {
    text-align: center;
    display: block;
  }

}



