{{ define "show_ping_list"}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Refresh" content="300" />
    <link rel="stylesheet" href="/css/showping.css">
    <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
    <title>Монитор</title>
</head>

<body>
    <!--<script src="js/test.js"> </script> -->
<form> 
<div class="table-ping">
    <table>
        <tr> <!--ряд с ячейками заголовков-->
        <th>№</th> <th>Время события </th> <th> IP адрес </th><th> Описание </th><th>Время ответа, ms</th>
        </tr> 
        
{{ range $key, $host := . }}
    
    <tr> <!--ряд с ячейками тела таблицы-->
        <td>{{$key}}</td> <td>{{ $host.Date_time}}</td> <td> {{ $host.Ip }} </td><td> {{ $host.Descriptor }} </td><td>{{$host.Time_response}} </td>
    </tr> 
   
{{ end }}
    </table>
</div>

</form>
</body>
</html>

{{ end }}