body{
    background-color: rgb(11, 54, 91);
    min-width: 900px;
  }

.logo {
    color: #eee;
    font-size: 20px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
  }

.top1 {

    border-radius: 50px 0px 0px 0px;
    text-align: center;
    padding: 15px 10px 10px 10px;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
}

.cell {
   
    border-radius: 0px 0px 0px 0px;
    padding: 0px 20px 0px 0px;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
}


.top2 {
    min-width: 0px;    
}

.top3 {
    min-width: 100px;
    color: #eee;
    font-size: 25px;
    text-align: center;
    padding: 15px 0px 0px 0px;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
}

.top4 {
       border-radius: 0px 50px 0px 0px;
}


.board-top {
    width: 90%;
    min-width: 100px;
    border-radius: 10px;
    margin: auto;
    -moz-box-sizing: border-box; /* Для Firefox */
    -webkit-box-sizing: border-box; /* Для Safari и Chrome */
    box-sizing: border-box; /* Для IE и Opera */
}

.board-top > div{
    background: #655dbf; /* Цвет фона */
    box-sizing: border-box;
    border: 3px solid #14b10c;  /* Потом убрать! */
    height: 60px;
    width: 25%;
    float: left;
}

.btn:hover{
    opacity: 0.95;
    color: #655dbf;
    border: 2px solid rgb(29, 123, 62);
    background-color: #c32773;
  }

.btn {

    background-color: #4CAF50; /* Green */
    border: 2px solid rgb(29, 123, 62); /* Параметры рамки */;
    border-radius: 10px;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    margin: 10px 20px 20px 0px;
    cursor: pointer;
    border-radius: 0px 25px 0px 0px;
    /*font-family: inherit;*/
    position: flex;
    cursor: pointer;
    float: right;
}


.board-setup {
    width: 90%;
    min-width: 100px;
    border-radius: 10px;
    margin: auto;
    -moz-box-sizing: border-box; /* Для Firefox */
    -webkit-box-sizing: border-box; /* Для Safari и Chrome */
    box-sizing: border-box; /* Для IE и Opera */
}

.board-setup > div {
    background: #655dbf; /* Цвет фона */
    box-sizing: border-box;
    border: 3px solid #14b10c;  /* Потом убрать! */
    height: 60px;
    width: 25%;
    float: left;

}

.btn-body:hover{
    opacity: 0.95;
    color: #655dbf;
    border: 2px solid rgb(29, 123, 62);
    background-color: #c32773;
  }

  .btn-body {

    background-color: #4CAF50; /* Green */
    border: 2px solid rgb(29, 123, 62); /* Параметры рамки */;
    border-radius: 10px;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    margin: 10px 20px 20px 0px;
    cursor: pointer;
    border-radius: 1;
    /*font-family: inherit;*/
    position: flex;
    cursor: pointer;
    float: right;
}


.insert-body {

    margin: 10px 2px 2px 2px;
    background-color: #34a5d5;
    border: 1px solid rgb(29, 123, 62); /* Параметры рамки */;
    border-radius: 10px;
    color: white;
    padding: 5px 5px 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    border-radius: 0px 0px 0px 0px;
    position: flex;
    top: 5px; left: 10px;
    max-width: 60px;
}

.select {

    background-color: #34a5d5; /* Green */
    border: 1px solid rgb(29, 123, 62); /* Параметры рамки */;
    border-radius: 10px;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 2px 2px 2px 2px;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
    top: 5px; left: 10px;
    position: flex;
    min-width: 100px;
    max-width: 100px;
 

    
  }

  .select-olt {
   
    background-color: #34a5d5; /* Green */
    border: 1px solid rgb(29, 123, 62); /* Параметры рамки */;
    border-radius: 10px;
    color: white;
    padding: 5px 5px;
    text-align: center;
    display: inline-block;
    font-size: 17px;
    margin: 5px 2px 2px 2px;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
    position: flex;
    top: 5px; left: 10px;
    
  }