{{ define "content_table"}}

<div class="table-ping">
    <table>
        <tr> <!--ряд с ячейками заголовков-->
            <th>№</th> <th>Время события </th> <th> IP адрес </th><th> Описание </th><th>Время ответа, ms</th>
        </tr> 
        
{{ range $key, $host := .ShowPing }}
    <tr> <!--ряд с ячейками тела таблицы-->
        <td>{{ $key }}</td> <td>{{ $host.Date_time }}</td> 
        <td> {{ $host.Ip }} </td>
        <td> {{ $host.Descriptor }} </td>
        <td>{{$host.Time_response}} </td>
    </tr> 
{{ end }}
</table>
</div>
{{ end }}