table {

    table-layout: fixed;
    
    border-collapse: collapse;
    border: 3px solid rgb(34, 6, 34)
    
}



.green > *{
  background-color: #95e4a9;
}

.table-ping{
    padding-bottom: 32px;
    background-color: #000000;
    
    
}

th, td{
padding: 3px;

}

html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
  }
  
thead th, tfoot th {
    font-family: 'Rock Salt', cursive;
  }
  
th {
    letter-spacing: 1px;
  }
  
td {
    letter-spacing: 0px;
  }
  
tbody td {
    text-align:center;
  }
  
tfoot th {
    text-align: left;
  }

tbody tr:nth-child(odd) {
    background-color: #e495b6;
  }
  
tbody tr:nth-child(even) {
    background-color: #e495b6;
  }
  
table {
    background-color: #000000;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
  }

